@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=PT+Serif&display=swap');
:root {
    --main-bg-color: #2370f4;
  }
  

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
}

nav{
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
}

nav .logo img{
    width: 88px;
    margin: 0 25px;
}

nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li{
    list-style: none;
    padding: 0 23px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    font-weight: bold;
    /* color: red; */
    font-size: large;
}

.search{
    display: flex;
    align-items: center;
    position: relative;
}

.search input{
    width: 30vw;
    height: 27px;
    border-radius: 4px;
    margin: 0 56px;
    padding-left: 12px;
}

.search img{
    width: 27px;
    position: absolute;
    right: 17px;
    bottom: 16px;
}
.search img:hover{
    cursor: pointer;
    width: 28px;
}

.container{
    background-color: rgb(229, 222, 222);
    min-height: calc(100vh - 58px - 12vh);
}

.slider{
    margin: 10px auto;
    width: 80vw;
    overflow: hidden;
}


.card{
    background-color: white;
    max-width: 90vw;
    margin: 37px auto;
}

.card h2{
    font-family: 'Lato', sans-serif;
    /* margin: 12px 0; */
}

.cards{
    display: flex;
    /* flex-direction: column; */
    justify-content: start;
    overflow: scroll;
}

.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 10vw;
    margin: 0 15px;
}

footer{
    background-color: var(--main-bg-color);
    color: white;
    height: 12vh;
    font-family: 'Lato', sans-serif;
}
